.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid white;
  padding: 18px 0 18px 0;
  margin-bottom: 40px;
  position: sticky;
  top: 0;
  left: 0;
  background-color: #220335;
  background-image: linear-gradient(to bottom right, #000000, #351255, #8909d7);
}

.navIcon {
  margin-left: 30px;
  width: 40px;
  height: 40px;
  color: #fff;
}
.navLinks {
  display: flex;
  align-items: stretch;
  column-gap: 45px;
}
.navIconSearch {
  width: 30px;
  height: 30px;
  margin-right: 30px;
  transition: color 0.5s linear;
}
.navIconSearch:hover {
  color: rgb(224, 196, 169);
}
.link {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 24px;
  border: none;
  color: #fff;
  position: relative;
  height: 30px;
  transition: color 0.5s ease;
}
.link:last-child {
  display: flex;
  column-gap: 8px;
}

.link:hover {
  color: rgb(224, 196, 169);
}
.active {
  color: rgb(224, 196, 169);
}
.active:after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: rgb(224, 196, 169);
}
@media screen and (max-width: 425px) {
  .nav {
    column-gap: 20px;
    justify-content: space-between;
    padding: 12px 0 12px 0;
  }
  .navIcon {
    margin-left: 10px;
  }
  .link {
    font-size: 18px;
  }
  .active:after {
    bottom: 3px;
  }
  .navIcon {
    width: 30px;
    height: 30px;
  }
  .navLinks {
    gap: 20px;
    align-items: center;
  }
  .navIconSearch {
    margin-right: 10px;
  }
}
